.b-controls-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.b-controls-container > * {
  width: 100%;
}

.b-spinner {
  text-align: center;

  .mat-progress-spinner {
    display: inline-block;
  }
}

.clearfix {
  overflow: hidden;
  margin-bottom: 4px;
}

.b-image {
  font-size: 66px;
  color: #2780E3;
  font-weight: bold;
  padding-top: 40px;
  display: inline-block;
  margin-bottom: 40px;
}

.b-submit {
  margin-top: 20px;

}
