.b-footer {
  min-height: 270px;
  background-color: #2780E3;
  color: white;
  padding-top: 15px;

  a {
    color: white;
    text-decoration: underline;
  }

  .navbar {
    margin-bottom: 0;
  }
}
